## RPy: 通过 Python 调用 R 的功能
- `Python` 作为胶水语言，可以通过 `RPy` 来调用 `R` 的功能
- 或者，可以使用 Shell 来整合 `Python` 和 `R` 的程序
  - 使用 `Makefile` 将不同语言的输入和输出连接
- 例子：连接各种各样的语言和工具
    - http://lgautier.github.io/odsc-pdaibp-slides/

## 集合运算
- 交、并、差，笛卡尔积

In [6]:
from rpy2.robjects import r
A = r('A <- data.frame(ID=c(1,2), name=c("Wang", "Li"))')
A

R object with classes: ('data.frame',) mapped to:
<DataFrame - Python:0x7ff04db86488 / R:0x5560a6848ad0>
[FloatVector, FactorVector]
  ID: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7ff04d8f6a88 / R:0x5560a680a0c0>
[1.000000, 2.000000]
  name: <class 'rpy2.robjects.vectors.FactorVector'>
  R object with classes: ('factor',) mapped to:
<FactorVector - Python:0x7ff04d8f6048 / R:0x5560a6c9dd98>
[Wang, Li]

In [7]:
B = r('B <- data.frame(ID=c(2,3), name=c("Li", "Zhang"))')
B

R object with classes: ('data.frame',) mapped to:
<DataFrame - Python:0x7ff04db86b88 / R:0x5560a68a39f8>
[FloatVector, FactorVector]
  ID: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7ff04d905048 / R:0x5560a6863a20>
[2.000000, 3.000000]
  name: <class 'rpy2.robjects.vectors.FactorVector'>
  R object with classes: ('factor',) mapped to:
<FactorVector - Python:0x7ff04d905208 / R:0x5560a6cd9d78>
[Li, Zhang]

In [9]:
r.merge(A,B)

R object with classes: ('data.frame',) mapped to:
<DataFrame - Python:0x7ff06140b808 / R:0x5560a6c0ddc0>
[FloatVector, FactorVector]
  ID: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7ff04d8f6f08 / R:0x5560a71d2088>
[2.000000]
  name: <class 'rpy2.robjects.vectors.FactorVector'>
  R object with classes: ('factor',) mapped to:
<FactorVector - Python:0x7ff04d8f6088 / R:0x5560a71d7ea8>
[Li]

In [15]:
print(r.rbind(A,B))

  ID  name
1  1  Wang
2  2    Li
3  2    Li
4  3 Zhang

In [17]:
from rpy2.robjects.lib.dplyr import setdiff
setdiff(A,B)

R object with classes: ('data.frame',) mapped to:
<DataFrame - Python:0x7ff0485d5888 / R:0x5560a67404f8>
[FloatVector, StrVector]
  ID: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7ff0485d54c8 / R:0x5560a8a5d6f8>
[1.000000]
  name: <class 'rpy2.robjects.vectors.StrVector'>
  R object with classes: ('character',) mapped to:
<StrVector - Python:0x7ff0485d5048 / R:0x5560a8a5d6c8>
['Wang']

In [23]:
AxB = r.merge(A,B,by=r("NULL"))
AxB

R object with classes: ('data.frame',) mapped to:
<DataFrame - Python:0x7ff0485d57c8 / R:0x5560a8b1e198>
[FloatVector, FactorVector, FloatVector, FactorVector]
  ID.x: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7ff04d91a948 / R:0x5560a8b07b68>
[1.000000, 2.000000, 1.000000, 2.000000]
  name.x: <class 'rpy2.robjects.vectors.FactorVector'>
  R object with classes: ('factor',) mapped to:
<FactorVector - Python:0x7ff0485d5cc8 / R:0x5560a8b0d280>
[Wang, Li, Wang, Li]
  ID.y: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7ff0485d5048 / R:0x5560a8b07898>
[2.000000, 2.000000, 3.000000, 3.000000]
  name.y: <class 'rpy2.robjects.vectors.FactorVector'>
  R object with classes: ('factor',) mapped to:
<FactorVector - Python:0x7ff0485d54c8 / R:0x5560a8b0d050>
[Li, Li, Zhang, Zhang]

## 关系运算
- 投影，选择，连接，除法

In [58]:
Am = r.cbind(A, GPA=r("c(3,4)"))
Am

R object with classes: ('data.frame',) mapped to:
<DataFrame - Python:0x7ff0485d5988 / R:0x5560a8e1d2b0>
[FloatVector, FactorVector, FloatVector]
  ID: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7ff04d916488 / R:0x5560a680a0c0>
[1.000000, 2.000000]
  name: <class 'rpy2.robjects.vectors.FactorVector'>
  R object with classes: ('factor',) mapped to:
<FactorVector - Python:0x7ff0485e9308 / R:0x5560a6c9dd98>
[Wang, Li]
  GPA: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7ff0485d5cc8 / R:0x5560a8e0b998>
[3.000000, 4.000000]

In [59]:
Bm = r.cbind(B, age=r('c(19,20)'))
Bm

R object with classes: ('data.frame',) mapped to:
<DataFrame - Python:0x7ff04d926708 / R:0x5560a8e39a28>
[FloatVector, FactorVector, FloatVector]
  ID: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7ff04d926f08 / R:0x5560a6863a20>
[2.000000, 3.000000]
  name: <class 'rpy2.robjects.vectors.FactorVector'>
  R object with classes: ('factor',) mapped to:
<FactorVector - Python:0x7ff04d8f6488 / R:0x5560a6cd9d78>
[Li, Zhang]
  age: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7ff04857f708 / R:0x5560a8e1fca0>
[19.000000, 20.000000]

In [62]:
r.merge(Am,Bm,all=r("TRUE"))

R object with classes: ('data.frame',) mapped to:
<DataFrame - Python:0x7ff0485e9d48 / R:0x5560a8fb3520>
[FloatVector, FactorVector, FloatVector, FloatVector]
  ID: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7ff04d926d48 / R:0x5560a8f97dc8>
[1.000000, 2.000000, 3.000000]
  name: <class 'rpy2.robjects.vectors.FactorVector'>
  R object with classes: ('factor',) mapped to:
<FactorVector - Python:0x7ff0485e9488 / R:0x5560a8faffa0>
[Wang, Li, Zhang]
  GPA: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7ff0485e9108 / R:0x5560a8f97cf0>
[3.000000, 4.000000, NA_real_]
  age: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7ff0485e9608 / R:0x5560a8fb35f8>
[NA_real_, 19.000000, 20.000000]

In [66]:
r.merge(Am,Bm,all=r("TRUE"))
# somehow "all_x" is not correct, 左连接不可用

R object with classes: ('data.frame',) mapped to:
<DataFrame - Python:0x7ff04d916e88 / R:0x5560a90e8100>
[FloatVector, FactorVector, FloatVector, FloatVector]
  ID: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7ff04d8f6488 / R:0x5560a90e8340>
[1.000000, 2.000000, 3.000000]
  name: <class 'rpy2.robjects.vectors.FactorVector'>
  R object with classes: ('factor',) mapped to:
<FactorVector - Python:0x7ff04d8f6ec8 / R:0x5560a90e9ac8>
[Wang, Li, Zhang]
  GPA: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7ff0485b6408 / R:0x5560a90e8268>
[3.000000, 4.000000, NA_real_]
  age: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7ff04857fac8 / R:0x5560a90e81d8>
[NA_real_, 19.000000, 20.000000]

## 关系代数之外的常用运算
- GroupBy, SortBy

In [70]:
from rpy2.robjects.lib.dplyr import DataFrame, group_by, summarise

dAxB = DataFrame(AxB)
dAxB

R object with classes: ('data.frame',) mapped to:
<DataFrame - Python:0x7ff04d8f6048 / R:0x5560a8b1e198>
[FloatVector, FactorVector, FloatVector, FactorVector]
  ID.x: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7ff04d91a788 / R:0x5560a8b07b68>
[1.000000, 2.000000, 1.000000, 2.000000]
  name.x: <class 'rpy2.robjects.vectors.FactorVector'>
  R object with classes: ('factor',) mapped to:
<FactorVector - Python:0x7ff04d90f0c8 / R:0x5560a8b0d280>
[Wang, Li, Wang, Li]
  ID.y: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7ff04d90f1c8 / R:0x5560a8b07898>
[2.000000, 2.000000, 3.000000, 3.000000]
  name.y: <class 'rpy2.robjects.vectors.FactorVector'>
  R object with classes: ('factor',) mapped to:
<FactorVector - Python:0x7ff04d90f2c8 / R:0x5560a8b0d050>
[Li, Li, Zhang, Zhang]

In [80]:
(dAxB.group_by("name.x").summarise(n='n()'))

R object with classes: ('tbl_df', 'tbl', 'data.frame') mapped to:
<DataFrame - Python:0x7ff0485e9108 / R:0x5560a9144ef0>
[FactorVector, IntVector]
  name.x: <class 'rpy2.robjects.vectors.FactorVector'>
  R object with classes: ('factor',) mapped to:
<FactorVector - Python:0x7ff0485e9148 / R:0x5560a8e07618>
[Li, Wang]
  n: <class 'rpy2.robjects.vectors.IntVector'>
  R object with classes: ('integer',) mapped to:
<IntVector - Python:0x7ff04d90f2c8 / R:0x5560a8e29a28>
[2, 2]